# Node modules
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE directories
.vscode/
.idea/

# NPM package lock files
package-lock.json
yarn.lock

# Miscellaneous
*.tgz

